:root {
    --main-bg-color: rgba(42, 46, 48, 1);
    --secondary-bg-color: rgba(42, 46, 48, 0.4);
    --main-accent-color: rgba(203, 174, 144, 1);
    --error-color: rgba(222, 102, 86, 1);
    --success-color: rgba(193, 207, 52, 1);
    --warning-color: rgba(223, 133, 65, 1);
    --font-color: rgba(222, 213, 198, 1);
  }